body{
   margin: 0;
   padding: 0;
   font-family:"Roboto", sans-serif;
}

/*seccion header*/
header{
   background-color: rgba(34, 33, 31, 0.85);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

header nav ul{
   display: flex;
   gap: 1.1em;
   margin-right: 40px;

}

header a i{
   color: white;
   font-size: 3em;
   padding: 0.5em;
}

header nav ul li{
   color: white;
   font-size: 25px;
}

.boton1{
   background-color: black;

}

.boton2{
   background-color: black;
   position: fixed;
   bottom: 10px;
   right: 50px;
}

/*seccion principal*/
.seccion-1{
   background-color: aquamarine;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2em;
}

h2{
   text-align: right;
   margin-right: 30px;
}

li{
   list-style: none;
}

p{
   text-align: right;
   margin-right: 30px;
   width: 450px;
   font-size: 22px;
}

.acerca-imagen img{
   width: 500px;
   border: solid 0.5px;
   border-radius: 20px;
}

.seccion-2 img{
   width: 100%; 
   height: 800px;
}
/* Tarjetas */
.tarjetas {
   display: flex;
   background-color: rgb(173, 173, 136);
 }
 
 .tarjeta {
   text-align: center;
   margin: 50px;
   max-width: 900px;
   background-color: #f0f0f0; 
   padding: 100px;
 }
 
 .tarjeta img {
   border-radius: 20px;
   height: auto;   
   width: 600px; 
 }
 
 .tarjeta h4 {
   font-size: 32px;
   margin-top: 10px;
 }
 
 .tarjeta p {
   font-size: 28px;
   text-align: center;
   align-items: center;
   padding-left: 80px;
 }

/* Botón "Saber más" */
.saber-mas {
   display: inline-block;
   padding: 10px 20px;
   background-color: #0074D9; /* Color de fondo del botón */
   color: white; /* Color del texto del botón */
   border: none; /* Elimina el borde del botón */
   border-radius: 5px; /* Bordes redondeados */
   cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
   margin-top: 10px; /* Espacio superior entre el párrafo y el botón */
   font-size: large;
 }
 
 .saber-mas:hover {
   background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor sobre el botón */
 }
 
 /*footer*/
 #footer {
   background-color:grey;
   padding-left: 30px;
   padding-bottom: 30px;
}
/*seccion redes sociales*/
.logos {
   display: flex;
   flex-wrap: wrap; /* Envolver las redes sociales en múltiples filas si no caben en una sola línea */
   align-items: center;
}

.red-social {
   display: flex;
   align-items: center;
   padding: 10px;
}

.logos1{
   width: 45px;
}

.logos2{
   width: 35px;
}

h3 {
   padding-left: 10px;
   padding-top: 20px;
   font-size: 25px;
}

a {
   text-decoration: none;
   padding: 5px;
   font-size: large;
   color: white;
}

/*body{
   margin: 0; /* Establece el margen exterior del cuerpo de la página en 0 */
   /*padding: 0; /* Establece el relleno del cuerpo de la página en 0 */
   /*font-family:"Roboto", sans-serif; /* Define la fuente principal del texto en la página */
/*}*/

/*seccion header*/
/*header{
   background-color: rgba(34, 33, 31, 0.85); /* Establece el color de fondo del encabezado con transparencia */
   /*display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos internos */
   /*align-items: center; /* Centra verticalmente los elementos dentro del encabezado */
   /*justify-content: space-between; /* Distribuye uniformemente los elementos del encabezado */
/*}

header nav ul{
   display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos de la lista */
   /*gap: 1.1em; /* Establece un espacio entre los elementos de la lista */
   /*margin-right: 40px; /* Establece un margen derecho en la lista de navegación */
/*}

header a i{
   color: white; /* Establece el color del ícono en blanco */
   /*font-size: 3em; /* Establece el tamaño del ícono */
   /*padding: 0.5em; /* Añade relleno alrededor del ícono */
/*}

header nav ul li{
   color: white; /* Establece el color del texto de los elementos de la lista en blanco */
   /*font-size: 25px; /* Establece el tamaño del texto de los elementos de la lista */
/*}

.boton1{
   background-color: black; /* Establece el color de fondo del botón 1 en negro */
/*}

.boton2{
   background-color: black; /* Establece el color de fondo del botón 2 en negro */
   /*position: fixed; /* Fija la posición del botón 2 en la parte inferior derecha de la página */
   /*bottom: 10px; /* Establece la distancia desde la parte inferior de la página */
   /*right: 50px; /* Establece la distancia desde el borde derecho de la página */
/*}

/*seccion principal*/
/*h2{
   text-align: right; /* Alinea el encabezado 2 a la derecha */
   /*margin-right: 30px; /* Establece un margen derecho en el encabezado 2 */
/*}

li{
   list-style: none; /* Elimina los marcadores de lista en todos los elementos de lista */
/*}

p{
   text-align: right; /* Alinea el párrafo a la derecha */
   /*margin-right: 30px; /* Establece un margen derecho en el párrafo */
   /*width: 450px; /* Establece el ancho del párrafo */
   /*font-size: 22px; /* Establece el tamaño del texto del párrafo */
/*}

.seccion-1{
   background-color: aquamarine; /* Establece el color de fondo de la sección 1 en verde azulado */
   /*display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos dentro de la sección */
   /*justify-content: center; /* Centra horizontalmente los elementos dentro de la sección */
   /*align-items: center; /* Centra verticalmente los elementos dentro de la sección */
   /*padding: 2em; /* Añade un relleno interno de 2 veces el tamaño de la 'em' en todas las direcciones *
/*}

/* Tarjetas */
/*.tarjetas {
   /*display: flex; /* Utiliza el modelo de caja flexible para organizar las tarjetas */
   /*background-color: rgb(173, 173, 136); /* Establece el color de fondo de las tarjetas en gris-marrón */
/*}
 
 .tarjeta {
   text-align: center; /* Centra el contenido de la tarjeta */
   /*margin: 50px; /* Establece un margen alrededor de la tarjeta */
   /*max-width: 900px; /* Establece el ancho máximo de la tarjeta */
   /*background-color: #f0f0f0;  /* Establece el color de fondo de la tarjeta en blanco */
   /*padding: 100px; /* Añade relleno alrededor del contenido de la tarjeta */
/*}
 
.tarjeta img {
   border-radius: 20px; /* Agrega bordes redondeados a las imágenes dentro de las tarjetas */
   /*height: auto; /* Ajusta automáticamente la altura de la imagen */
/*}
 
.tarjeta h4 {
   font-size: 32px; /* Establece el tamaño del título de la tarjeta */
   /*margin-top: 10px; /* Establece un margen superior para el título de la tarjeta */
/*}
 
.tarjeta p {
   font-size: 28px; /* Establece el tamaño del texto dentro de la tarjeta */
   /*text-align: center; /* Centra el texto dentro de la tarjeta */
   /*align-items: center; /* Centra verticalmente los elementos dentro de la tarjeta */
   /*padding-left: 80px; /* Establece un relleno a la izquierda del texto dentro de la tarjeta */
/*}

/* Botón "Saber más" */
/*.saber-mas {
   display: inline-block; /* Convierte el botón en un elemento en línea con bloque de contenedor */
   /*padding: 10px 20px; /* Añade relleno alrededor del texto del botón */
   /*background-color: #0074D9; /* Color de fondo del botón */
   /*color: white; /* Color del texto del botón */
   /*border: none; /* Elimina el borde del botón */
   /*border-radius: 5px; /* Bordes redondeados */
   /*cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
   /*margin-top: 10px; /* Espacio superior entre el párrafo y el botón */
   /*font-size: large; /* Establece el tamaño del texto del botón */
/*}
 
.saber-mas:hover {
   background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor sobre el botón */
/*}
 
 /*footer*/
/*#footer {
   background-color:grey; /* Establece el color de fondo del pie de página en gris */
   /*padding-left: 30px; /* Establece un relleno a la izquierda del pie de página */
   /*padding-bottom: 30px; /* Establece un relleno en la parte inferior del pie de página */
/*}
/*seccion redes sociales*/
/*.logos {
   display: flex; /* Utiliza el modelo de caja flexible para organizar los logos de redes sociales */
   /*flex-wrap: wrap; /* Envuelve los logos en múltiples filas si no caben en una sola línea */
   /*align-items: center; /* Centra verticalmente los logos de redes sociales */
/*}

.red-social {
   display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos de las redes sociales */
   /*align-items: center; /* Centra verticalmente los elementos de las redes sociales */
   /*padding: 10px; /* Añade relleno alrededor de los elementos de las redes sociales */
/*}

h3 {
   padding-left: 10px; /* Establece un relleno a la izquierda del encabezado 3 */
   /*padding-top: 20px; /* Establece un relleno en la parte superior del encabezado 3 */
   /*font-size: 25px; /* Establece el tamaño del texto del encabezado 3 */
/*}

a {
   text-decoration: none; /* Elimina la decoración de subrayado de los enlaces */
   /*padding: 5px; /* Añade relleno alrededor de los enlaces */
   /*font-size: large; /* Establece el tamaño del texto de los enlaces */
   /*color: White; /* Establece el color del texto de los enlaces en blanco */
/*}





   
